
.home{
    text-align: center;
    height: 100vh;
    width: 100vw;
}
.form{
    height: 100vh;
    width: 100vw;
    text-align: left;
    font-size: 25px;
    max-width: 60%;
    display: grid;
    position: relative;
    left: 20%;
}
.welcome{
    position: relative;
    top: 10%;
}
.submit{
    width: 200px;
    padding: 20px;
    margin: 20px;
}
label{
    margin-top: 40px;
}