
.home{
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: grid;
    background: linear-gradient(to bottom, #ccffff 0%, #99ccff 100%);
}
.form{
    width: 100vw;
    text-align: left;
    font-size: 25px;
    max-width: 60%;
    display: grid;
    position: relative;
    left: 20%;
}
.welcome{
    position: relative;
    top: 10%;
}
.submit{
    width: 200px;
    padding: 20px;
    margin: 20px;
}

.apple{
    max-width: 80%;
}
footer{
    width: 100vw;
    height: 50px;
    text-align: center;
    background: linear-gradient(to left, #ccffff 0%, #99ccff 100%);
    font-size: 20px;
    padding: 10px;
}
label{
    margin-top: 20px;
}