.wrapper {
    display: grid;
    grid-template-columns: 22vw 22vw 22vw 22vw;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
  }
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    min-height: 200px;
  }

  /* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #333333;
    color: white;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(104, 104, 104);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgb(104, 104, 104);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid rgb(43, 43, 43);
    border-top: none;
    background-color: rgba(255,255,255,0.7);
  }
  
  div{
    font-size:20px;
  }
  footer{
    position:fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    text-align: center  ;
    background-color: rgba(255,255,255,0.7);
  }
  body{
    
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main{
    
    background-color: rgba(255,255,255,0.7);
    height: auto;
    padding-bottom: 5%;
  }
  .checkbox{
      height: 20px;
      width: 20px;
  }
  td{
    font-size: 25px;
}
p{
    font-size: 20px;
}
.btn{
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#menuimg{
  position: fixed;
    background-color: black;
    z-index: 1;
}
input:hover {
  background-color:beige;
}