/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #333333;
  color: white;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(104, 104, 104);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(104, 104, 104);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid rgb(43, 43, 43);
  border-top: none;
  background-color: rgba(255,255,255,0.9);
}

div{
  font-size:20px;
}
footer{
  position:absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  text-align: center  ;
  background-color: rgba(255,255,255,0.9);
}
body{
  background-image: url("bg.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}
.main{
  
  background-color: rgba(255,255,255,0.8);
  height: 100vh;
}